<li class="list-group-item">
  <a data-bs-toggle="collapse" href="#<%= anchor %>"><%= title %></a>
  <div class="post-preview collapse" id="<%= anchor %>">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= image_path(image) %>" class="img-fluid rounded-start" alt="<%= title %>>">
          </div>
          <div class="col-md-8">
            <% if text.present? %>
              <div class="card-body">
                <ul class="list-inline">
                  Рейтинг
                  <li class="list-inline-item">
                    <% rating.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                    <% (5 - rating).times do %>
                      <i class="fa-regular fa-star"></i>
                    <% end %>
                  </li>
                </ul>
                <ul class="list-inline">
                  Сложность
                  <li class="list-inline-item">
                    <% hard.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                    <% (5 - hard).times do %>
                      <i class="fa-regular fa-star"></i>
                    <% end %>
                  </li>
                </ul>
                <p class="card-text"><%= text %></p>
              </div>
            <% else %>
              <div class="card-body">
                <img src="<%= image_path('coming_soon.png') %>" class="img-fluid rounded-start">
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</li>