<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= image_path("motions.jpg") %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Рекомендую</h1>
          <span class="subheading">Что почитать или нет</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-preview">
          <h2 class="post-title">Отказ от ответственности</h2>
          <p>
            Книги отсортированы в произвольном порядке, мнение сугубо субъективное. Скорее всего изменится после очередного прочтения. Список сформирован случайно, только из тех книг, которые попались под руку и как-то откликнулись в голове. Список будет уточняться и расширяться)
          </p>
          <p class="post-meta">
            На самом деле составлял для себя. Многие книги стоит прочесть еще раз, интересно как изменится отношение к ним и что удастся почерпнуть в следующий раз.
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <ul class="navbar-nav ms-auto">
          <li>Разработка
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/high_load.jpg",
                anchor: "high_load",
                title: "Высоконагруженные приложения: Программирование, масштабирование, поддержка. Мартин Клеппман",
                text: "Стоит почитать",
                rating: 5,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/fauler_js_refactoring.jpg",
                anchor: "fauler_js_refactoring",
                title: "Рефакторинг кода на JavaScript. М. Фаулер",
                text: "Стоит почитать",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/clean_code.jpg",
                anchor: "clean_code",
                title: "Чистый код, Р.Мартин",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/awesome_code.jpg",
                anchor: "awesome_code",
                title: "Cовершенный код, Макконнелл",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/clean_architecture.jpg",
                anchor: "clean_architecture",
                title: "Чистая архитектура, Р.Мартин",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/ddd.jpg",
                anchor: "ddd",
                title: "Domain Driven Design, Эванс",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/scalability_rules.jpg",
                anchor: "scalability_rules",
                title: "Scalability Rules",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/building_evolutionary_architectures.jpg",
                anchor: "building_evolutionary_architectures",
                title: "Building Evolutionary Architecture",
                text: "",
                rating: 3,
                hard: 3,
              } %>

              <%= render partial: 'post', locals: {
                image: "books/designing_distributed_systems.jpg",
                anchor: "designing_distributed_systems",
                title: "Designing Distributed Systems",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/fauler_architecture.jpg",
                anchor: "fauler_architecture",
                title: "Проектирование корпоративного ПО, Фаулер",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/building_microserices.jpg",
                anchor: "building_microserices",
                title: "Создание микросервисов, Сэм Ньюмен",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/state_machine.jpg",
                anchor: "state_machine",
                title: "Автоматное программирование",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/painless_rails.jpg",
                anchor: "painless_rails",
                title: "Painless rails",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Основы
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/crack_alg.jpg",
                anchor: "crack_alg",
                title: "Грокаем алгоритмы",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/code.jpg",
                anchor: "code",
                title: "Код, Чарльз Петцольд",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/alg_long.jpg",
                anchor: "alg_long",
                title: "Алгоритмы построение и анализ",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/sicp.jpg",
                anchor: "sicp",
                title: "СИКП",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/nets.jpg",
                anchor: "nets",
                title: "Компьютерные сети, С.Таненбаум",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/cs_min.jpg",
                anchor: "cs_min",
                title: "Теоретический минимум по Computer Science",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/modern_os.jpg",
                anchor: "modern_os",
                title: "Современные операционные системы Таненбаум",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/unix_man.jpg",
                anchor: "unix_man",
                title: "UNIX для систеного администратора",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/unix_dev.jpg",
                anchor: "unix_dev",
                title: "UNIX профессиональное программирование",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Вдохновение
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/ideal_programmer.jpg",
                anchor: "ideal_programmer",
                title: "Идеальный программист, Мартин",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/move_mount.jpg",
                anchor: "move_mount",
                title: "Как сдвинуть гору Фудзи",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/system_design_interview.jpg",
                anchor: "system_design_interview",
                title: "System Design Interview",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/spolsk.jpg",
                anchor: "spolsk",
                title: "Спольски о программировании",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/spolsk_again.jpg",
                anchor: "spolsk_again",
                title: "Спольски снова о программировании",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Хранилища данных
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/seven_databases.jpg",
                anchor: "seven_databases",
                title: "7 баз данных за семь недель",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/psql_base.jpg",
                anchor: "psql_base",
                title: "Основы технологий баз данных(Postgres)",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/psql_docs.jpg",
                anchor: "psql_docs",
                title: "Документация к PostgreSQL от Postgres Professional",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Языки
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/phoenix_programming.jpg",
                anchor: "phoenix_programming",
                title: "Phoenix programming",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/elixir_in_action.jpg",
                anchor: "elixir_in_action",
                title: "Elixir in Action",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/go_lang.jpg",
                anchor: "go_lang",
                title: "Язык программирования Go. Алан А. А. Донован, Брайан У. Керниган",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/type_script.jpg",
                anchor: "type_script",
                title: "Изучаем TypeScript 3. Н. Розенталс",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/ruby_matz.jpg",
                anchor: "ruby_matz",
                title: "Ruby. Объектно-ориентированное проектирование. Сэнди Метц",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/seven_models_concurrent.jpg",
                anchor: "seven_models_concurrent",
                title: "7 моделей конкуренции и параллелизма",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/ruby_under_microscope.jpg",
                anchor: "ruby_under_microscope",
                title: "Ruby Under a Microscope",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/seven_lang.jpg",
                anchor: "seven_lang",
                title: "7 языков за семь недель",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/eloquent_ruby.jpg",
                anchor: "eloquent_ruby",
                title: "Eloquent Ruby - Olson",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/learn.javascript.ru.jpg",
                anchor: "learn_javascript_ru",
                title: "learn.javascript.ru",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Управление и культура
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/agilemanifesto.jpg",
                anchor: "agilemanifesto",
                title: "agilemanifesto.org",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/37_signals.jpg",
                anchor: "signals",
                title: "Getting Real 37 signals",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/five_issues_of_team.jpg",
                anchor: "five_issues_of_team",
                title: "Пять пороков команды",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/geeks.jpg",
                anchor: "geeks",
                title: "Как управлять интеллектуаллами",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/novators.jpg",
                anchor: "novators",
                title: "Дилема Инноватора",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/myth_month.jpg",
                anchor: "myth_month",
                title: "Мифический человеко месяц",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/okr.jpg",
                anchor: "okr",
                title: "Измеряйте самое важное(OKR)",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
          <li>Продуктивность
            <ul class="list-group list-group-flush">
              <%= render partial: 'post', locals: {
                image: "books/passionate_programmer.jpg",
                anchor: "passionate_programmer",
                title: "The Passionate Programmer",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/think_slow.jpg",
                anchor: "think_slow",
                title: "Думай медлено решай быстро Даниэль Канеман",
                text: "",
                rating: 3,
                hard: 3,
              } %>
              <%= render partial: 'post', locals: {
                image: "books/ninza.jpg",
                anchor: "ninza",
                title: "Джедайские техники(Максим Дорофеев)",
                text: "",
                rating: 3,
                hard: 3,
              } %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

